<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BabyShop</display-name>
  	<welcome-file-list>
		<welcome-file>pages/index.jsp</welcome-file>
	</welcome-file-list>
  	
  	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml
			/WEB-INF/applicationSecurity.xml
		</param-value>
	</context-param>
  	
  	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
    	<filter-name>GlobalFilter</filter-name>
    	<filter-class>filters.GlobalFilter</filter-class>
  	</filter>
  	<filter-mapping>
        <filter-name>GlobalFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  	
  	<listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    
    <servlet>
        <servlet-name>toy</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context/toy-servlet.xml</param-value>
    	</init-param>
        <load-on-startup>1</load-on-startup> 
    </servlet>
   
    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context/category-servlet.xml</param-value>
    	</init-param>
        <load-on-startup>2</load-on-startup> 
    </servlet>
    
    <servlet>
        <servlet-name>manufacturer</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context/manufacturer-servlet.xml</param-value>
    	</init-param>
        <load-on-startup>3</load-on-startup> 
    </servlet>
   
    <servlet>
        <servlet-name>account</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context/account-servlet.xml</param-value>
    	</init-param>
        <load-on-startup>4</load-on-startup> 
    </servlet>
    
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context/cart-servlet.xml</param-value>
    	</init-param>
        <load-on-startup>5</load-on-startup> 
    </servlet>
    
    <servlet>
        <servlet-name>comment</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context/comment-servlet.xml</param-value>
    	</init-param>
        <load-on-startup>6</load-on-startup> 
    </servlet>
    
    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context/report-servlet.xml</param-value>
    	</init-param>
        <load-on-startup>6</load-on-startup> 
    </servlet>
    
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context/dashboard-servlet.xml</param-value>
    	</init-param>
        <load-on-startup>6</load-on-startup> 
    </servlet>
    
    <servlet>
        <servlet-name>advertisement</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context/advertisement-servlet.xml</param-value>
    	</init-param>
        <load-on-startup>6</load-on-startup> 
    </servlet>
       
    <servlet>
        <servlet-name>authentication</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context/authentication-servlet.xml</param-value>
    	</init-param>
        <load-on-startup>1</load-on-startup> 
    </servlet>
    
    <servlet-mapping>
        <servlet-name>toy</servlet-name>
        <url-pattern>/toy/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>category</servlet-name>
        <url-pattern>/category/*</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>manufacturer</servlet-name>
        <url-pattern>/manufacturer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comment</servlet-name>
        <url-pattern>/comment/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>advertisement</servlet-name>
        <url-pattern>/advertisement/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authentication</servlet-name>
        <url-pattern>/authentication/*</url-pattern>
    </servlet-mapping>
    
    <filter>
	   <filter-name>SetCharacterEncoding</filter-name>
	   <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	   <init-param>
	       <param-name>encoding</param-name>
	       <param-value>UTF-8</param-value>
	   </init-param>
	   <init-param>
	      <param-name>forceEncoding</param-name>
	      <param-value>true</param-value>
	   </init-param>
	</filter>
	<filter-mapping>
	   <filter-name>SetCharacterEncoding</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>
    
</web-app>