<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/BabyShopDB</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.default_schema">public</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <mapping resource="pojos/NhaSanXuat.hbm.xml"/>
  <mapping resource="pojos/HinhAnhDoChoi.hbm.xml"/>
  <mapping resource="pojos/XuatXu.hbm.xml"/>
  <mapping resource="pojos/HoaDon.hbm.xml"/>
  <mapping resource="pojos/LoaiTaiKhoan.hbm.xml"/>
  <mapping resource="pojos/DoChoi.hbm.xml"/>
  <mapping resource="pojos/TrangThaiDonHang.hbm.xml"/>
  <mapping resource="pojos/LoaiDoChoi.hbm.xml"/>
  <mapping resource="pojos/BinhLuan.hbm.xml"/>
  <mapping resource="pojos/TuKhoaDoChoi.hbm.xml"/>
  <mapping resource="pojos/ChiTietHoaDon.hbm.xml"/>
  <mapping resource="pojos/TaiKhoan.hbm.xml"/>
  <mapping resource="pojos/QuangCao.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
